.title{
    color:white;
    font-size:2.188rem;
}
.text{
    color:white;
    width:25rem;
    font-size:1.25rem;
}
.perfil{
    width:12.5rem;
    height:12.5rem;
    position: relative;
}
.container2{
    display: flex;
    justify-content: center;
}